/*Обнуление*/
@charset "UTF-8";
*{
	padding: 0;				/*Видаляємо всі відступи і межі*/
	margin: 0;				/* - це звернення до всіх тегів на сторінці*/
	border: 0;
}
*,*:before,*:after{				/*міняє пілрахунок ширини блока так щоб було зручніше верстати*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}			/*прибираємо лінії обводки в деяких браузерах*/
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}	/*перечисляємо деякі хтмл теги і додаємо їм значення блок, що робить їх блочними*/

html,body{					/*прирівнюємо поведінку шрифтів і елементів для різних браузерів*/
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;} /*наслідування сімейства шрифта*/

input::-ms-clear{display: none;}	/*прибираєть хрестик в інтернет експлорері*/
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} /*обнуляємо всі заголовки*/ 
/*--------------------*/


.wrapper {
}

a{
    color: #4682B4;
}
a:visited{
    color: #4682B4;
}

.block1 {
    padding: 30px;
}
.block1-container {
}
.block1-title {
    font-size: 40px;
    margin: 0px 0px 30px 0px;
    color: #191970;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    
}
.block1-pages {
    font-size: 30px;
    color: #191970;
    margin-bottom: 20px;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    
}
.block1-ol {
    list-style-type: none;
    font-family: 'Open sans';
    counter-reset: item;
}
.block1-li:not(:last-child) {
    margin-bottom: 15px;
}
.block1-li a:visited{
}
.block1-li a {
    font-size: 18px;
    text-decoration: underline;
}
.block1-ol .block1-li:before{
    content: counter(item) ".";
    counter-increment: item;
    margin: 0px 10px 0px 0px;
    color: #191970;
    font-size: 16px;
}
.block1-li a:hover{
    text-decoration: none;
}

@media (max-width: 576px) {
    .block1-title {
        font-size: 30px;
    }    
    .block1-pages {
        font-size: 20px;
        
    }
}

@media (max-width: 350px) {
    .block1 {
        padding: 30px 15px;
    }
    .block1-title {
        font-size: 22px;
       
    }    
}
